{% extends "base.html" %}

{% block content %}

<h1>Создание транзакции</h1>

<form method="post">
    {{ form.hidden_tag() }}

    {{ form.amount.label }}
    <br>
    {{ form.amount(placeholder="Величина") }}
    {% for error in form.amount.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
    <br>

    {{ form.type.label }}
    <br>
    {{ form.type }}
    {% for error in form.type.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
    <br>

    {{ form.description.label }}
    <br>
    {{ form.description }}
    {% for error in form.description.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
    <br>

    {{ form.category_id.label }}
    <br>
    {{ form.category_id }}
    {% for error in form.category_id.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
    <br>

    {{ form.date.label }}
    <br>
    {{ form.date }}
    {% for error in form.date.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
    <br>

    {{ form.submit() }}

</form>
{% endblock %}